/* Carousel slider */
.slideElements {
  margin-top: 120px;
  max-height: 380px;
  overflow: hidden;
}

.slideElements img {
  -webkit-filter: brightness(65%);
  filter: brightness(65%);
  z-index: 1;
  max-height: 400px;
  max-width: 400px;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: -100px;
  transition: 0.6s ease;
  border-radius: 0 6px 6px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: var(--opacity-black);
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
}

.text {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  bottom: 100px;
  width: 80%;
  margin: 50px;
  text-align: center;
}

.title {
  color: #f2f2f2;
  padding: 12px 18px;
  position: absolute;
  top: 155px;
  width: 100%;
  text-align: center;
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  display: none;
}

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.hero h1 {
  color: var(--white);
  padding-bottom: 30px;
}

.hero-button {
  color: var(--white);
  font-size: 12px;
  font-weight: bold;
  background-color: var(--opacity-black);
  border: 2px solid var(--white);
  padding: 3px 30px;
  text-transform: uppercase;
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
}

.hero-button:hover {
  color: var(--black);
  background-color: var(--opacity-white);
  border: 2px solid var(--black);
  transition: all 0.3s ease;
}

.prev i,
.next i {
  font-size: 35px;
  -webkit-user-select: none;
  color: var(--opacity-white);
}

/* Tablet */
@media screen and (max-width: 968px) {
  .hero-button {
    padding: 5px 35px;
  }

  .title {
    padding-left: 30px;
    padding-right: 30px;
    top: 120px;
  }

  .slideElements {
    margin-top: 100px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .hero-button {
    padding: 6px 40px;
  }

  .title {
    padding-left: 30px;
    padding-right: 30px;
    top: 100px;
  }

  .slideElements {
    margin-top: 67px;
  }
}
