/* Carousel slider */
.slide-elements {
  margin-top: 120px;
  max-height: 380px;
  overflow: hidden;
}

.slide-elements img {
  -webkit-filter: brightness(65%);
  filter: brightness(65%);
  z-index: 1;
  max-height: 400px;
  max-width: 400px;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}

.carousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.back,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-top: -100px;
  transition: 0.6s ease;
  border-radius: 0 6px 6px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.back i,
.next i {
  font-size: 35px;
  -webkit-user-select: none;
  color: var(--opacity-white);
}

.back:hover,
.next:hover {
  background-color: var(--opacity-black);
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
}

.text {
  color: #f2f2f2;
  padding: 8px 12px;
  position: absolute;
  bottom: 100px;
  width: 80%;
  margin: 50px;
  text-align: center;
}

.title {
  color: #f2f2f2;
  padding: 12px 18px;
  position: absolute;
  top: 155px;
  width: 100%;
  text-align: center;
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
}

/* Carousel fading animation */
.carousel-animation {
  -webkit-animation-name: carousel;
  -webkit-animation-duration: 1.7s;
  animation-name: carousel;
  animation-duration: 1.7s;
}

@-webkit-keyframes carousel {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

@keyframes carousel {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

/* Tablet */
@media screen and (max-width: 968px) {
  .title {
    padding-left: 30px;
    padding-right: 30px;
    top: 120px;
  }

  .slide-elements {
    margin-top: 100px;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .title {
    padding-left: 30px;
    padding-right: 30px;
    top: 100px;
  }

  .slide-elements {
    margin-top: 67px;
  }
}
